<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title ruby talk
        link(rel="stylesheet", href="/css/styles.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet")

    body
        section.pc__screen
            p Just Only Possible Mobile Decice, You Need Use Smaller Screen Than Now
        
        section.mobile__screen
            main.main
                block content 

        nav.nav
            div 
                a(href="/friends") friends
            div
                a(href="/message") message
            div
                a(href="/profile") profile