<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title RUBY | TALK
        link(rel="stylesheet", href="/css/styles.css")
    body
        section.pc__screen
            p Just Only Possible Mobile Decice, You Need Use Smaller Screen Than Now

        section.mobile__srceen
            main.main 
                block content

            nav.nav 
                div 
                    a(href="friends") friends
                div 
                    a(href="Message") Message
                div 
                    a(href="Profile") Profile
