extends ./base.pug

block content   
    section.mhead
        div Message
    
    section.mlist
        .mlist__rbox
            p 받는 메세지 (친구아이디)
            p 내용 30글자만
        .mlist__sbox
            p 보낸 메세지 (친구아이디)
            p 내용 30글자만