extends ./base.pug


block content
    section.mhead 
        div Message

    section.mlist
        .mlist__rbox
            p  받은 메세지(친구아이디)
            p 내용 30글자만... 우엥웅ㅇ웨우에ㅜ엥웅우우에웅
        .mlist__sbox
            p  보낸 메세지(친구아이디)
            p 내용 30글자만... 우엥웅ㅇ웨우에ㅜ엥웅우우에웅

        .mlist__sbox
            p  보낸 메세지(친구아이디)
            p 내용 30글자만... 우엥웅ㅇ웨우에ㅜ엥웅우우에웅

        .mlist__sbox
            p  보낸 메세지(친구아이디)
            p 내용 30글자만... 우엥웅ㅇ웨우에ㅜ엥웅우우에웅

        .mlist__sbox
            p  보낸 메세지(친구아이디)
            p 내용 30글자만... 우엥웅ㅇ웨우에ㅜ엥웅우우에웅

        

