@import "./reset.css";
@import "./friends.css";
@import "./message.css";
@import "./profile.css";
@media screen and (min-width: 450px) {
  .mobile__srceen {
    display: none;
  }

  .pc__screen {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 217, 67);
    color: #fff;
    font-size: 33px;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .pc__screen p {
    text-shadow: 3px 3px 2px #333;
  }
}

@media screen and (max-width: 451px) {
  .pc__screen {
    display: none;
  }

  .mobile__srceen {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .main {
    width: 100%;
    padding-bottom: 60px;
  }

  .nav {
    position: fixed;
    bottom: 0px;
    left: 0px;

    width: 100%;
    height: 60px;

    border: 1px solid rgb(203, 203, 203);
    border-radius: 10px;
    box-shadow: -2px -2px 25px #999;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 0px 15px;
  }
}
